[submodule "Source/morph_dict"]
	path = Source/morph_dict
	url = https://github.com/bivex/morph_dict
        update = merge 
[submodule "Source/dict_uk"]
	path = Source/dict_uk
	url = https://github.com/brown-uk/dict_uk
[submodule "Dicts/Morph/English/unimorph"]
	path = Dicts/Morph/English/unimorph
	url = https://github.com/unimorph/eng
[submodule "Dicts/EngSynan/ud-ewt"]
	path = Dicts/EngSynan/ud-ewt
	url = https://github.com/UniversalDependencies/UD_English-EWT
[submodule "Dicts/Morph/Spanish/unimorph"]
	path = Dicts/Morph/Spanish/unimorph
	url = https://github.com/unimorph/spa.git
[submodule "Dicts/Morph/German/unimorph"]
	path = Dicts/Morph/German/unimorph
	url = https://github.com/unimorph/deu.git
[submodule "Dicts/Morph/Latin/unimorph"]
	path = Dicts/Morph/Latin/unimorph
	url = https://github.com/unimorph/lat
[submodule "Dicts/Morph/French/unimorph"]
	path = Dicts/Morph/French/unimorph
	url = https://github.com/unimorph/fra.git
[submodule "Dicts/Morph/Portuguese/unimorph"]
	path = Dicts/Morph/Portuguese/unimorph
	url = https://github.com/unimorph/por.git
[submodule "Dicts/Morph/Finnish/unimorph"]
	path = Dicts/Morph/Finnish/unimorph
	url = https://github.com/unimorph/fin.git
[submodule "Dicts/Morph/Italian/unimorph"]
	path = Dicts/Morph/Italian/unimorph
	url = https://github.com/unimorph/ita.git
[submodule "Dicts/Morph/Hungarian/unimorph"]
	path = Dicts/Morph/Hungarian/unimorph
	url = https://github.com/unimorph/hun.git
